{% extends 'layout/layout.html.twig' %}

{% block body %}

  <p>Le site www.potagerconnect.com est édité par DEV'ECOLO, l'association interprofessionnelle de Potager connect, association régie par la loi du 1 juillet 1901 et reconnue organisation interprofessionnelle par un arrêté interministériel du 5 juillet 1976, enregistrée au répertoire SIRET sous le numéro  123 4569 87123 3655 et dont le siège social est situé au 97 Rue Pereire - Paris 75015 – Tél. 01 02 05 04 06.
- Directeur de la publication : Thomas Soublet, chef du project.
- Le webmaster est : contact@dev'ecolo.com
Le site www.potagerconnect.com est hébergé par Ecritel, Société à responsabilité limitée  au capital de 2 325 000 Euros, enregistrée sous le numéro de Siret 332 484 021 00065, dont le siège est situé au 51 RUE LE PELETIER 75009 PARIS 9, n°de téléphone : 01 40 61 20 00.
Le site www.potagerconnect.com a pour objet la diffusion de connaissances et d’informations portant sur les fruits et légumes frais et ses métiers.
PROPRIÉTÉ INTELLECTUELLE
Les logos « Potager connect », le site www.potagerconnect.com , ses images et son contenu sont protégés par le droit des marques et/ou le droit d'auteur et autres droits.
Certains contenus du site (fiches produits et des recettes) ont été réalisés dans le cadre d’une campagne de promotion cofinancée par la France et l’Union Européenne.
A l’exception des logos respectifs de l’union européenne et du ministère de l’agriculture qui ne peuvent faire l’objet d’aucune reproduction, l'ensemble du site, sa présentation et les éléments le composant (textes, photos, logos) sont la propriété dev'ecolo. En application des dispositions du Code de la propriété intellectuelle, des dispositions législatives et réglementaires de tous pays et des conventions internationales, toute représentation et/ou reproduction, ou encore utilisation, exploitation, intégrale ou partielle, de l'un quelconque des éléments mentionnés ci-dessus, faite sans le consentement préalable et écrit d’INTERFEL, est interdite.
 </p>

{% endblock %}